AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

PGPASSWORD=xxxxxxxxxxxxxxxxxxxxxxx-
PGHOST=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PGPORT=xxxxx
PGUSER=xxxxxxx
PGDATABASE=xxxxxx

# The Version of the application, appended to the postgresql log
VERSION=ec7e10b
